html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* ------------------------- Dark Theme ------------------------- */

.dark {
    --text-white: #e6e6e6;
    --text-dark: #fff;

    --bg-indigo: #2f0933;
    --bg-purple: #1e052b;
    --bg-card: #242424;
    --bg-card-border: #fff;
    --bg-card-button: #242424;
 }

 /* ------------------------- General ------------------------- */

body {
    --text-white: #ffffff;
    --text-dark: #142136;

    --bg-indigo: #7e50e6;
    --bg-purple: #ce61ff;
    --bg-card: #ffffff;
    --bg-card-border: #8051ed;
    --bg-card-button: #8f72db;

    background: linear-gradient(to bottom right, var(--bg-purple), var(--bg-indigo));
}

h1 {
  color: white;
  font-size: 50px;
}

.max-width{
    max-width: 1300px;
    padding: 10px 80px;
    margin: auto;
}

/* ------------------------- Navbar ------------------------- */

.navbar{
    position: fixed;
    width: 100%;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 50px 0 0;
}

.navbar .menu ul{
    margin: 0px;
    padding: 0px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
    text-decoration: none;
}

.navbar .active {
    border-bottom: 4px solid rgb(255, 255, 255);
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* ------------------------- Content ------------------------- */

.content{
    display: block;
    padding: 100px 0;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.content h1{
    font-size: 35px;
}

.todo-list{
    display: flex;
    height: 20vh;
    min-height: 500px;
}

.todo-list .max-width{
  width: 100%;
  display: flex;
}


/* ------------------------- Card Design ------------------------- */

.card{
    background: var(--bg-card);
    border-radius: 10px;
    border: 1px solid var(--bg-card-border);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px 100px;
    padding: 20px;
}


.card .btn{
  color: var(--text-white);
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: var(--bg-card-button);
  border: 1px solid var(--bg-card-border);
  margin-left: 60px;
}

.card .input{
    background: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    width: 500px;
    border:1px solid rgb(190, 190, 190);
}

.card .input:focus {
    outline: none !important;
    border:1px solid var(--bg-card-border);
  }

.card .todo li{
    color: var(--text-dark);
    border-bottom: 2px solid rgb(190, 190, 190);
    list-style: none;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-left: -20px;
}

/* ------------------------- Sidebar ------------------------- */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* ------------------------- Responsive media queries ------------------------- */

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

    @media screen and (max-width: 1200px) {
        .card .btn{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .content-left{
            float: none;
        }

        .content-right{
            float: none;
        }

        .card{
            margin: 0 0 15px 0;
        }

    }

    @media screen and (max-width: 900px) {
        .logo { display: none; } 
    }