extends layout

block content
  nav(class='navbar')
    .max-width 
      .logo
        a(href='/') My App
      ul(class='menu')
        li
          a(class='menu-btn active' href='/') My Todos
        li
          a(class='menu-btn' href='/') Open Sidebar
        li
          a(class='menu-btn' href='/') Change Theme
  .todo-list
    .max-width
      .content
        .content-left
          h1 My Todos
        
        .content-right
          .card
            form(method="POST" action="/todo")
              input(class='input' name="task" type="text", placeholder="Task to be done..")
              button(class='btn' type='submit') Add
              
          .card
              ul(class='todo')
                each n in todos
                  li=n