doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap')
  body
    block content

script(src='/js/script.js')
